/* --- Minimal CSS Reset --- */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* --- CSS Styles --- */

body {
  background-color: #6EE0AF;
  font-family: 'Markazi Text', serif;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 5%;
  margin-right: 5%;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 25rem;
}

footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 5rem;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  display: inline-block;
}

section {
  display: flex;
}

article {
  flex: 1;
}

footer {
  display: flex;
}

footer div {
  flex: 1;
}
