/* --- Minimal CSS Reset --- */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* --- Color variables --- */

:root {
    --red: #E06E79;
    --lightGreen: #6EE0AF;
    --darkGreen: #4E6159;
    --brown: #61544E; 
    --orange: #E0926E;
}

/* --- CSS Styles --- */

body {
  background-color: var(--lightGreen);
  font-family: 'Markazi Text', serif;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 5%;
  margin-right: 5%;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 25rem;
}

footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 5rem;
}

/* Navbar */

nav ul {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-color: var(--red);
  padding: 1rem;
  margin: 2rem 0;
  border-radius: 25px;
}

nav li {
  display: inline-block;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 900;
}

/* --- Main Section --- */

main {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

section {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  align-items: center;
}

article {
  flex: 1;
}

.main-container {
  position: relative;
  text-align: left;
  color: white;
}

.top-left-title {
  position: absolute;
  bottom: 10vw;
  left: 2rem;
  font-size: 4vw;
}

.top-left-subtitle {
  position: absolute;
  bottom: 2vw;
  left: 2rem;
  font-size: 2vw;
}

.subsection {
  background-color: var(--red);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1vh;
  border-radius: 30px;
  padding: 1rem;
  color: white;
}

.subsection img {
  max-width: 90%;
}

/* --- Footer --- */

footer {
  display: flex;
}

footer div {
  flex: 1;
}

#footer-left img {
  margin: 1rem 0;
}

#footer-right {
  text-align: right;
  padding: 1rem;
  border-top: 2px solid var(--red);
  color: var(--red);
  font-size: 1.2rem;
}
